h1 {
  color: salmon;
  font-size: 100px;
  text-align: center;
}

h2.flashy{
  font-style: italic;
  text-align: center;
  font-size: 70px;
  color: red;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 40px;
}

h3 {
  font-size: 150%;
  font-family:cursive;
  text-align: center;
}

h3.first {
  color: red;
  text-align: center;
}

h3.second {
  color: chartreuse;
}

h3.third {
  color: gold;
}
h3.fourth {
  color: seagreen;
}

body {
  background-image: url("http://content.mycutegraphics.com/backgrounds/cupcake/yellow-cupcake-background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
